In [1]:
import pandas as pd
import os

# üöø Filtering column names

### üìí Reading dataframes and filtering columns

In [2]:
base_path = './datasets/'
file_name_convention = 'visit'
extension = '.tsv'

# Load the data, scanning in the base path, but load files as needed, not all at once

def get_visit_records():

    filenames = []

    for root, dirs, files in os.walk(base_path):

        for filename in files:
            if filename.startswith(file_name_convention) and filename.endswith(extension):
                filenames.append(filename)
        
    for filename in filenames:
        df = pd.read_csv(
            base_path + filename,
            sep='\t',
            index_col=False
        )
        yield df

In [3]:
# Load variable names

variables = []

with open('./lista_variables/variables_selectas.txt', ) as file:
    variables = [var[:-1] for var in file.readlines()]

print(variables)

['ABBLEED', 'AGE1', 'AGE10', 'AGE11', 'AGE12', 'AGE2', 'AGE3', 'AGE4', 'AGE5', 'AGE6', 'AGE7', 'AGE8', 'AGE9', 'AGE', 'ALCHL24', 'WORSE', 'FOODPNA', 'AVCIGDA', 'GLASBEE', 'GLASLIQ', 'GLASWIN', 'BONES1', 'BONES2', 'BONES3', 'BOTHOTF', 'LEKBOTH', 'COMBIN1', 'COMBIN2', 'NOREMEB', 'BATCARB', 'DTTDFIB', 'BATKCAL', 'DTTALCH', 'BATNIAC', 'BATPHOS', 'BATPOTS', 'BATPROT', 'BATRIBO', 'BATTFAT', 'HOMEXPD', 'DIABETE', 'HAVEPER', 'LIKEFEL', 'ALLBCAR', 'ALLCALC', 'ALLFOL', 'ALLIRON', 'ALLARE', 'ALLB1', 'ALLB12', 'ALLB6', 'ALLVITC', 'ALLVITD', 'ALLVITE', 'ALLZINC', 'ALLB2', 'NOLIKE', 'EXPECT', 'DNTKNOW', 'DONTKNO', 'MENODEP', 'IMEDTHR', 'EMBDDEV', 'E2AVE', 'ESTRDA1', 'ESTRDA2', 'ESTRNJ1', 'ESTRNJ2', 'ESTROG1', 'ESTROG2', 'EFPDFIB', 'EFPB1', 'EFPB12', 'EFPB6', 'EFPARE', 'EFP', 'LEKDISC', 'EXERCIS', 'EXERGEN', 'EXERHAR', 'EXERMEM', 'EXERMEN', 'EXEROST', 'EXEROTH', 'EXERSPE', 'EXERADV', 'EXERPER', 'EXERWGH', 'EXERLOO', 'EXER12H', 'FACEI1', 'FACEI10', 'FACEI11', 'FACEI12', 'FACEI13', 'FACEI14', 'FACEI15', 'FACEI16', 'FACEI17', 'FACEI18', 'FACEI19', 'FACEI2', 'FACEI20', 'FACEI21', 'FACEI22', 'FACEI23', 'FACEI24', 'FACEI25', 'FACEI26', 'FACEI27', 'FACEI28', 'FACEI29', 'FACEI3', 'FACEI30', 'FACEI31', 'FACEI32', 'FACEI33', 'FACEI34', 'FACEI35', 'FACEI36', 'FACEI37', 'FACEI38', 'FACEI39', 'FACEI4', 'FACEI40', 'FACEI41', 'FACEI42', 'FACEI43', 'FACEI44', 'FACEI45', 'FACEI46', 'FACEI47', 'FACEI48', 'FACEI5', 'FACEI6', 'FACEI7', 'FACEI8', 'FACEI9', 'AGEWORS', 'LANGFFQ', 'LANGSPK', 'FRNADVI', 'FEAROLD', 'RXTRMLK', 'HCPADVI', 'ADVISTO', 'FODPNHP', 'PROTEIN', 'HOTFLAS', 'NUMHOTF', 'HOMEXPH', 'WRKEXPH', 'HHMEMSM', 'HOURSPA', 'WLOSSDT', 'IMPRMEM', 'INSTSHK', 'FODPNJC', 'JENCRAI', 'LANGBIO', 'LANGCOG', 'LANGINT', 'LANGSAA', 'HORMDAY', 'LRXKEGL', 'ATTRACT', 'H_NOTIC', 'FODPNLF', 'LOWFATD', 'FODPNLS', 'LOWSALT', 'STRTEST', 'STPESTR', 'NO_MED', 'ONMEASS', 'ALCHMON', 'ALCO24H', 'FREE', 'LOOKSAG', 'LTXMYSF', 'LDRNASK', 'LNRMCHD', 'LNRMOLD', 'LEAKOR', 'LEAKORS', 'LNOTBAD', 'LNOEFTX', 'LEMBARR', 'LWYSURG', 'BROKEBO', 'WRKEXPE', 'ALCHSRV', 'DIETNUT', 'DIETGEN', 'DIETHAR', 'DIETMEM', 'DIETMEN', 'DIETOST', 'DIETOTH', 'DIETSPE', 'DIETADV', 'DIETPER', 'DIETWGH', 'DIETLOO', 'OLD_VAL', 'OSTEIV1', 'OSTEON1', 'OSTEON2', 'OSTEOPR', 'OHRM_1', 'OHRM_2', 'OHRM_3', 'OHRM_4', 'OTHSPOR', 'OUTCOME', 'POSITIV', 'WRKEXPD', 'PROLAPS', 'PCTALCH', 'PRGNANT', 'PRBBLEE', 'RACE', 'PHYSACT', 'REDUHAR', 'OSTEOPO', 'REGRET', 'REGPERI', 'MENOSYM', 'PHYSILL', 'SKELMM', 'FOODBNS', 'SOUTHBC', 'SOYYSNO', 'SPECFOO', 'HRSACT1', 'HRSACT2', 'SPOREX1', 'SPOREX2', 'YOUNGLK', 'NEWSRPT', 'NOREASO', 'STOPOTH', 'HORMOTH', 'NERVES', 'PROVTIM', 'CARING', 'SPORTS', 'EXPENSI', 'TOTEXPH', 'ESTLSTV', 'VAGDISH', 'VAGINDR', 'VAGIRRT', 'VAGSORE', 'FODPNVD', 'VEGDIET', 'ALCHWK', 'PHYSWOR', 'CANCER', 'SIDEEFF']

### ‚öñ Normalizing variable names to find common variables

Given that the column names have in their name the visit id at the end, we have to take it away to proceed more easily

In [4]:
"""
    Normalize the variable names.

    This requires getting rid of the last character in each column name, which, as stated
    above, is the visit ID, so we can concatenate all the dataframes together.

    Note: not all the dataframes have the same columns, so we need to get the union of all
    the columns in all the dataframes.
"""

visit_dfs = [*get_visit_records()]

C:\Users\Admin\AppData\Local\Temp\ipykernel_11960\3460416426.py:18: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(
C:\Users\Admin\AppData\Local\Temp\ipykernel_11960\3460416426.py:18: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(
C:\Users\Admin\AppData\Local\Temp\ipykernel_11960\3460416426.py:18: DtypeWarning: Columns (3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,51,52,53,54,57,58,59,60,61,63,64,65,66,67,68,69,70,71,72,73,74,75,85,87,88,90,91,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,477,478,482,483,484,485,486,490,491,495,504,506,507,515,522,530,536,537,538,539,577) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(
C:\Users\Admin\AppData\Local\Temp\ipykernel_11960\3460416426.py:18: DtypeWarning: Columns (3,4,5,51,57,63,67,71,504,522,1277) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(
C:\Users\Admin\AppData\Local\Temp\ipykernel_11960\3460416426.py:18: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,46,47,48,49,50,51,52,53,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,84,86,87,90,91,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,477,478,482,483,484,485,486,490,491,492,495,504,506,507,515,522,523,525,530,535,536,537,538,563,567) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

In [5]:
visit_dfs[0].head()

,SWANID,VISIT,INTDAY1,AGE1,LANGINT1,RACE,PREGNAN1,PREVBLO1,EATDRIN1,STRTPER1,...,SPSCDAY1,SPSCTIM1,SPSCMOD1,HPSCDAY1,HPSCTIM1,HPSCMOD1,SPBMDT1,HPBMDT1,BMDFLG1,STATUS1
0,10046,1,413,53,1,2,1,1,1,2,...,413,0:10:08,5,413,0:09:52,5,1.1277,.9619,0,7
1,10056,1,357,52,1,4,1,,1,2,...,441,0:12:55,11,441,0:13:03,11,.914,.8499,0,4
2,10092,1,364,46,1,4,1,,1,1,...,364,0:18:01,5,364,0:17:39,5,1.0377,.8412,0,4
3,10126,1,442,50,1,1,1,,1,2,...,,.,,,.,,,,,4
4,10153,1,374,52,1,3,1,,1,2,...,402,0:10:47,11,402,0:10:40,11,1.0673,1.0313,0,4

In [6]:
def normalize_columns(df, suffix: str):
    # Remove last digit (matching index + 1) at the end, if it exists
    return [col.removesuffix(suffix) if col.endswith(suffix) else col for col in df.columns]


unique_variables = set(normalize_columns(visit_dfs[0], '1'))


for index, df in enumerate(visit_dfs[1:]):

    index_str = str(index + 2)  # Index starts at 0, but we continue at 2
    columns_no_visit = normalize_columns(df, index_str)
    unique_variables &= set(columns_no_visit)

variable_inter = list(unique_variables)
len(variable_inter)

291

In [7]:
variable_inter

['BRSTEXA',
 'SPSCMOD',
 'LONELY',
 'CRYING',
 'CHOLST1',
 'SLEEP2',
 'FLGDIF',
 'FERTIL1',
 'FEELBLU',
 'LANGINT',
 'OTHMED5',
 'DIURTW1',
 'HAPPEN1',
 'SIDEEFF',
 'MONEYPR',
 'CHILDMO',
 'TALKLES',
 'PREGNAN',
 'OTHME11',
 'MAJEVEN',
 'HARTTW2',
 'THYRTW2',
 'MAMOGRA',
 'CHNGJOB',
 'WORKTRB',
 'OTHRTW2',
 'OTHRTW3',
 'OTHTW14',
 'THYRTW1',
 'OTC1',
 'MENOSYM',
 'OUTCOME',
 'OSTEOPO',
 'STATUS',
 'EFFORT',
 'WAKEUP',
 'GOOD',
 'OOPHORE',
 'OTC4',
 'CANCER',
 'BRSTFEE',
 'LEGALPR',
 'PHYDAY',
 'WEIGHT',
 'SITESPE',
 'FERTIL2',
 'VISIT',
 'HPSCTIM',
 'SYSBP1',
 'HAPPEN2',
 'BMI',
 'PRBBLEE',
 'THYROI1',
 'HLTHSER',
 'BLEEDNG',
 'PROGTW2',
 'DIZZY',
 'WORSREL',
 'BCPTWI2',
 'STROKE',
 'PILING',
 'STRTPER',
 'GETGOIN',
 'SERIPRO',
 'DIURET1',
 'HYSTDAY',
 'CHOLTW1',
 'BCPTWI1',
 'OTHRTW8',
 'LANGSAA',
 'OTHTW12',
 'PRTUNEM',
 'SPSCTIM',
 'ESTRTW2',
 'OTHRTW5',
 'YOUNGLK',
 'UNFRNDL',
 'PAINTW2',
 'HRMDAY',
 'THYROID',
 'T',
 'CANCERS',
 'THYROI2',
 'SWANID',
 'FAILURE',
 'OTHRTW1',
 'SPSCDAY',
 'SYSBP2',
 'DHAS',
 'EATDRIN',
 'SAD',
 'HORMOTH',
 'OTHMED3',
 'NOREMEB',
 'DONTKNO',
 'HOSPSTA',
 'HTMETHO',
 'OTHMED2',
 'NERVTW2',
 'JOB',
 'BOTHER',
 'ANGINA',
 'HEART2',
 'OTHMED6',
 'BCP1',
 'ONEOVAR',
 'INSUTW2',
 'INCOME',
 'OTHTW11',
 'HPSCDAY',
 'INSUTW1',
 'PROGTW1',
 'PAIN2',
 'COLDSWE',
 'SAADAY',
 'OTHRTW6',
 'ESTROG2',
 'OTHRTW4',
 'INTDAY',
 'PROGES1',
 'HAVEPER',
 'HPBMDT',
 'COMBTW1',
 'INSULN1',
 'ACOATW2',
 'HARTTW1',
 'AVCIGDA',
 'FORGET',
 'PROGDA2',
 'HOPEFUL',
 'HAPPEN3',
 'OTHMED9',
 'FSH',
 'SMOKERE',
 'BP1',
 'OTHRTW7',
 'WASTMEA',
 'SLEEP1',
 'DIABP2',
 'EINJTW2',
 'EINJTW1',
 'NERVS1',
 'STEROI1',
 'HBCHOLE',
 'HPSCMOD',
 'OTCTW3',
 'OTCTW4',
 'DIABETE',
 'MDTALK',
 'EXPENSI',
 'PAPSMEA',
 'DIURTW2',
 'RACE',
 'YOURWAY',
 'LMPDAY',
 'WAIST',
 'CHOLTW2',
 'ANTICO2',
 'VAGINDR',
 'SLEPTW2',
 'SLEPTW1',
 'PHYSILL',
 'REDUHAR',
 'REGPERI',
 'FLGCV',
 'OTHME14',
 'NOLIKE',
 'HIGHBP',
 'HOTFLAS',
 'BMDFLG',
 'FRTLTW2',
 'QLTYLIF',
 'HIPMEAS',
 'SHBG',
 'DIURET2',
 'OTCTW1',
 'HOURSPA',
 'OTHME13',
 'FAMLVIO',
 'HIP',
 'STERTW1',
 'HYSTERE',
 'RESPCAR',
 'QUITJOB',
 'PULSE',
 'ESTRNJ2',
 'APPETIT',
 'OTHTW15',
 'FRTLTW1',
 'MARITAL',
 'OTHMED7',
 'OTHTW10',
 'NITESWE',
 'ESTRDA1',
 'OTHMED1',
 'PAIN1',
 'MIGRAIN',
 'PRGNANT',
 'BPTW2',
 'OTHMED4',
 'HEIGHT',
 'MOODCHG',
 'SELFVIO',
 'OTC3',
 'RELATEN',
 'NERVTW1',
 'STOPOTH',
 'BCP2',
 'CYCDAY',
 'BLD3MON',
 'TAMOXIF',
 'RESTLES',
 'HAPPY',
 'STERTW2',
 'TRBLSLE',
 'FEARFUL',
 'ESTRTW1',
 'BONES2',
 'ESTRNJ1',
 'CLOSDIE',
 'CONTROL',
 'ESTRDA2',
 'DESCPER',
 'HEART1',
 'NUMDAND',
 'ESTROG1',
 'HEARTAT',
 'OTHME12',
 'OTHME15',
 'CHEMOTH',
 'UTERPRO',
 'DISLIKE',
 'BONES1',
 'NERVS2',
 'OSTEOAR',
 'OTC2',
 'BPTW1',
 'WAKEARL',
 'OTHTW13',
 'ANEMIA',
 'INSULN2',
 'LIKEFEL',
 'FEARFULA',
 'BLDRWAT',
 'THYRREM',
 'SCALE',
 'OTHRTW9',
 'OVERHLT',
 'ANTICO1',
 'ABILITY',
 'CHOLST2',
 'ENJOY',
 'FRNADVI',
 'IMPRMEM',
 'OTHMED8',
 'STEROI2',
 'WORKLOA',
 'STARTNE',
 'COMBIN1',
 'ADVISTO',
 'DNTKNOW',
 'BONES3',
 'COMBTW2',
 'HARTRAC',
 'HDACHE',
 'PROGDA1',
 'DIABP1',
 'BLDDRAW',
 'BLUES',
 'STIFF',
 'OTHME10',
 'COMBIN2',
 'BROKEBO',
 'DANDC',
 'PROGES2',
 'DEPRESS',
 'KEEPMIN',
 'BP2',
 'ACHES',
 'NRVOUS',
 'HCPADVI',
 'SPBMDT',
 'ACOATW1',
 'E2AVE',
 'AGE',
 'PAINTW1',
 'NOREASO',
 'OSTEOPR',
 'IRRITAB',
 'ALCHL24',
 'OTCTW2']

In [8]:
# Having variables shared across all the dataframes, we can now filter them out by
# our list of selected variables

selected_shared_variables = (set(variables) & set(variable_inter)) |\
    set(
        [   # 2023-12-02: Added the manually selected variables.
            'STATUS',
            'WEIGHT',
            'HEIGHT',
            'EXERCIS',
            'DIETNUT',
            'EMOCTDW',
            'EMOCARE',
            'SOCIAL',
            'CANCERS',
            'TRBLSLE',
            'HAPPY',
            'SMOKERE',
            'MENODEP',
        ]
    )
len(selected_shared_variables)

62

In [9]:
selected_shared_variables

{'ADVISTO',
 'AGE',
 'ALCHL24',
 'AVCIGDA',
 'BONES1',
 'BONES2',
 'BONES3',
 'BROKEBO',
 'CANCER',
 'CANCERS',
 'COMBIN1',
 'COMBIN2',
 'DIABETE',
 'DIETNUT',
 'DNTKNOW',
 'DONTKNO',
 'E2AVE',
 'EMOCARE',
 'EMOCTDW',
 'ESTRDA1',
 'ESTRDA2',
 'ESTRNJ1',
 'ESTRNJ2',
 'ESTROG1',
 'ESTROG2',
 'EXERCIS',
 'EXPENSI',
 'FRNADVI',
 'HAPPY',
 'HAVEPER',
 'HCPADVI',
 'HEIGHT',
 'HORMOTH',
 'HOTFLAS',
 'HOURSPA',
 'IMPRMEM',
 'LANGINT',
 'LANGSAA',
 'LIKEFEL',
 'MENODEP',
 'MENOSYM',
 'NOLIKE',
 'NOREASO',
 'NOREMEB',
 'OSTEOPO',
 'OSTEOPR',
 'OUTCOME',
 'PHYSILL',
 'PRBBLEE',
 'PRGNANT',
 'RACE',
 'REDUHAR',
 'REGPERI',
 'SIDEEFF',
 'SMOKERE',
 'SOCIAL',
 'STATUS',
 'STOPOTH',
 'TRBLSLE',
 'VAGINDR',
 'WEIGHT',
 'YOUNGLK'}

### üìù Renaming columns and final dataframe

In [17]:
from pandas import DataFrame


def rename_df_columns_to_normalized(df: DataFrame, selected_variables: set, suffix: str):

    normalized_columns = normalize_columns(df, suffix)

    # Check each column name in each dataframe, and see if it's in the
    # list of selected variables
    for col, normal_col in zip(df.columns, normalized_columns):

        columns_to_rename = {}

        if normal_col in selected_variables:
            columns_to_rename[col] = normal_col

        # Substitute the column name with the normalized one
        df.rename(columns=columns_to_rename, inplace=True)


def add_missing_columns(df: DataFrame, selected_variables: set):

    # Check each column name in each dataframe, and see if it's in the
    # list of selected variables
    for col in selected_variables:

        if col not in df.columns:
            df[col] = None

for index, df in enumerate(visit_dfs):

    index_str = str(index + 1)
    add_missing_columns(df, selected_shared_variables)
    rename_df_columns_to_normalized(df, selected_shared_variables, index_str)

In [18]:
# Check that the columns have been renamed correctly
visit_dfs[0][list(selected_shared_variables)].head()

,DIABETE,CANCERS,EXPENSI,RACE,LIKEFEL,EXERCIS,LANGINT,SIDEEFF,VAGINDR,EMOCTDW,...,LANGSAA,SMOKERE,E2AVE,AGE,ESTROG1,NOREASO,YOUNGLK,BONES1,ALCHL24,SOCIAL
0,1,1,-1,2,-1,None,1,-1,1,1,...,1,1,70.15,53,2,-1,1,-1,1,5
1,1,1,-1,4,-1,None,1,-1,1,1,...,1,1,194.55,52,1,-1,-1,-1,2,5
2,1,1,-1,4,-1,None,1,-1,1,1,...,1,1,250.65,46,1,-1,-1,PINKY FINGER BONE BROKE,2,5
3,1,1,-1,1,-1,None,1,-1,2,2,...,1,1,187.95,50,1,-1,-1,-1,1,3
4,1,1,-1,3,-1,None,1,-1,1,1,...,1,1,119.5,52,1,-1,-1,-1,1,5

In [19]:
visit_dfs[1][list(selected_shared_variables)]

,DIABETE,CANCERS,EXPENSI,RACE,LIKEFEL,EXERCIS,LANGINT,SIDEEFF,VAGINDR,EMOCTDW,...,LANGSAA,SMOKERE,E2AVE,AGE,ESTROG1,NOREASO,YOUNGLK,BONES1,ALCHL24,SOCIAL
0,1,1,,2,,None,1,,1,1,...,1,1,33.1,54,2,,1,,1,5
1,1,1,,4,,None,1,,1,1,...,1,1,45.05,53,1,,,,2,5
2,1,1,,1,,None,1,,2,2,...,1,1,17.9,50,1,,,,1,4
3,1,1,,3,,None,1,,1,1,...,1,1,28.25,53,1,,,,1,5
4,1,1,,2,,None,1,,1,1,...,1,1,57.1,48,1,,,,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2743,1,1,,4,,None,1,,2,1,...,1,1,,45,1,,1,,1,5
2744,1,1,,3,,None,1,,1,1,...,1,2,26.75,50,1,,,,1,4
2745,1,1,,4,,None,1,,1,1,...,1,1,370.75,47,1,,,,1,5
2746,1,1,,2,,None,3,,1,1,...,3,1,302.2000000001,49,1,,,,1,5
2747,1,1,,5,,None,2,,1,1,...,2,1,38.75,45,1,,,,1,5

In [26]:
# Explore unique values in the column.
visit_dfs[1]['OSTEOPO'].unique()

array(['1', ' ', '2'], dtype=object)

### ‚ú® Encoding empty values

In [27]:
"""
    It was chosen that missing values would be represented by -9999;
    however, values here are still strings (object, according to pandas),
    so we need to replace them with the actual value.
"""

# Before continuing, check null values
for index, df in enumerate(visit_dfs):
    df.replace(' ', None, inplace=True)
    print(f'Visit {index + 1} information:\n\n')
    df[list(selected_shared_variables)].info()
    print('------------------------------------')

Visit 1 information:


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2881 entries, 0 to 2880
Data columns (total 62 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DIABETE  2864 non-null   object
 1   CANCERS  2864 non-null   object
 2   EXPENSI  2864 non-null   object
 3   RACE     2881 non-null   int64
 4   LIKEFEL  2864 non-null   object
 5   EXERCIS  0 non-null      object
 6   LANGINT  2867 non-null   object
 7   SIDEEFF  2864 non-null   object
 8   VAGINDR  2861 non-null   object
 9   EMOCTDW  2863 non-null   object
 10  HORMOTH  2866 non-null   object
 11  PHYSILL  2862 non-null   object
 12  NOREMEB  2864 non-null   object
 13  DONTKNO  2867 non-null   object
 14  REDUHAR  2867 non-null   object
 15  REGPERI  2867 non-null   object
 16  FRNADVI  2867 non-null   object
 17  NOLIKE   2864 non-null   object
 18  HOTFLAS  2862 non-null   object
 19  IMPRMEM  2867 non-null   object
 20  OSTEOPR  2864 non-null   object
 21  MENOSYM  2867 non-null   object
 22  ESTRDA2  2867 non-null   object
 23  HOURSPA  2864 non-null   object
 24  OUTCOME  11 non-null     object
 25  OSTEOPO  2867 non-null   object
 26  STATUS   2859 non-null   object
 27  ESTRNJ2  14 non-null     object
 28  COMBIN1  2866 non-null   object
 29  DNTKNOW  2864 non-null   object
 30  BONES3   2864 non-null   object
 31  ADVISTO  2864 non-null   object
 32  CANCER   2864 non-null   object
 33  ESTRDA1  2867 non-null   object
 34  WEIGHT   2791 non-null   object
 35  PRGNANT  2863 non-null   object
 36  PRBBLEE  2864 non-null   object
 37  HEIGHT   2777 non-null   object
 38  ESTROG2  98 non-null     object
 39  STOPOTH  2864 non-null   object
 40  DIETNUT  0 non-null      object
 41  HAVEPER  2864 non-null   object
 42  EMOCARE  2863 non-null   object
 43  MENODEP  0 non-null      object
 44  COMBIN2  48 non-null     object
 45  BROKEBO  2864 non-null   object
 46  HAPPY    2864 non-null   object
 47  AVCIGDA  2863 non-null   object
 48  TRBLSLE  2863 non-null   object
 49  BONES2   2864 non-null   object
 50  ESTRNJ1  2866 non-null   object
 51  HCPADVI  2867 non-null   object
 52  LANGSAA  2863 non-null   object
 53  SMOKERE  2862 non-null   object
 54  E2AVE    2752 non-null   object
 55  AGE      2872 non-null   object
 56  ESTROG1  2865 non-null   object
 57  NOREASO  2864 non-null   object
 58  YOUNGLK  2867 non-null   object
 59  BONES1   2864 non-null   object
 60  ALCHL24  2715 non-null   object
 61  SOCIAL   2862 non-null   object
dtypes: int64(1), object(61)
memory usage: 1.4+ MB
------------------------------------
Visit 2 information:


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2748 entries, 0 to 2747
Data columns (total 62 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DIABETE  2724 non-null   object
 1   CANCERS  2723 non-null   object
 2   EXPENSI  94 non-null     object
 3   RACE     2748 non-null   int64
 4   LIKEFEL  94 non-null     object
 5   EXERCIS  0 non-null      object
 6   LANGINT  2725 non-null   object
 7   SIDEEFF  94 non-null     object
 8   VAGINDR  2698 non-null   object
 9   EMOCTDW  2698 non-null   object
 10  HORMOTH  348 non-null    object
 11  PHYSILL  2698 non-null   object
 12  NOREMEB  94 non-null     object
 13  DONTKNO  344 non-null    object
 14  REDUHAR  348 non-null    object
 15  REGPERI  348 non-null    object
 16  FRNADVI  348 non-null    object
 17  NOLIKE   94 non-null     object
 18  HOTFLAS  2698 non-null   object
 19  IMPRMEM  348 non-null    object
 20  OSTEOPR  2724 non-null   object
 21  MENOSYM  348 non-null    object
 22  ESTRDA2  10 non-null     object
 23  HOURSPA  840 non-null    object
 24  OUTCOME  8 non-null      object
 25  OSTEOPO  348 non-null    object
 26  STATUS   2725 non-null   object
 27  ESTRNJ2  21 non-null     object
 28  COMBIN1  2725 non-null   object
 29  DNTKNOW  94 non-null     object
 30  BONES3   2 non-null      object
 31  ADVISTO  94 non-null     object
 32  CANCER   94 non-null     object
 33  ESTRDA1  145 non-null    object
 34  WEIGHT   2632 non-null   object
 35  PRGNANT  2723 non-null   object
 36  PRBBLEE  95 non-null     object
 37  HEIGHT   2627 non-null   object
 38  ESTROG2  149 non-null    object
 39  STOPOTH  94 non-null     object
 40  DIETNUT  0 non-null      object
 41  HAVEPER  94 non-null     object
 42  EMOCARE  2698 non-null   object
 43  MENODEP  0 non-null      object
 44  COMBIN2  95 non-null     object
 45  BROKEBO  2724 non-null   object
 46  HAPPY    2723 non-null   object
 47  AVCIGDA  2698 non-null   object
 48  TRBLSLE  2698 non-null   object
 49  BONES2   7 non-null      object
 50  ESTRNJ1  2725 non-null   object
 51  HCPADVI  348 non-null    object
 52  LANGSAA  2698 non-null   object
 53  SMOKERE  2698 non-null   object
 54  E2AVE    2509 non-null   object
 55  AGE      2739 non-null   object
 56  ESTROG1  2724 non-null   object
 57  NOREASO  94 non-null     object
 58  YOUNGLK  348 non-null    object
 59  BONES1   48 non-null     object
 60  ALCHL24  2485 non-null   object
 61  SOCIAL   2698 non-null   object
dtypes: int64(1), object(61)
memory usage: 1.3+ MB
------------------------------------
Visit 3 information:


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2709 entries, 0 to 2708
Data columns (total 62 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DIABETE  2694 non-null   object
 1   CANCERS  2694 non-null   object
 2   EXPENSI  2694 non-null   object
 3   RACE     2709 non-null   int64
 4   LIKEFEL  2694 non-null   object
 5   EXERCIS  0 non-null      object
 6   LANGINT  2694 non-null   object
 7   SIDEEFF  2694 non-null   object
 8   VAGINDR  2615 non-null   object
 9   EMOCTDW  2615 non-null   object
 10  HORMOTH  2694 non-null   object
 11  PHYSILL  2615 non-null   object
 12  NOREMEB  2694 non-null   object
 13  DONTKNO  2694 non-null   object
 14  REDUHAR  2694 non-null   object
 15  REGPERI  2694 non-null   object
 16  FRNADVI  2694 non-null   object
 17  NOLIKE   2694 non-null   object
 18  HOTFLAS  2615 non-null   object
 19  IMPRMEM  2694 non-null   object
 20  OSTEOPR  2694 non-null   object
 21  MENOSYM  2694 non-null   object
 22  ESTRDA2  2694 non-null   object
 23  HOURSPA  2694 non-null   object
 24  OUTCOME  2694 non-null   object
 25  OSTEOPO  2694 non-null   object
 26  STATUS   2693 non-null   object
 27  ESTRNJ2  2694 non-null   object
 28  COMBIN1  2694 non-null   object
 29  DNTKNOW  2694 non-null   object
 30  BONES3   2694 non-null   object
 31  ADVISTO  2694 non-null   object
 32  CANCER   2694 non-null   object
 33  ESTRDA1  2694 non-null   object
 34  WEIGHT   2521 non-null   object
 35  PRGNANT  2694 non-null   object
 36  PRBBLEE  2694 non-null   object
 37  HEIGHT   2524 non-null   object
 38  ESTROG2  2694 non-null   object
 39  STOPOTH  2694 non-null   object
 40  DIETNUT  0 non-null      object
 41  HAVEPER  2694 non-null   object
 42  EMOCARE  2615 non-null   object
 43  MENODEP  0 non-null      object
 44  COMBIN2  2694 non-null   object
 45  BROKEBO  2694 non-null   object
 46  HAPPY    2694 non-null   object
 47  AVCIGDA  2615 non-null   object
 48  TRBLSLE  2615 non-null   object
 49  BONES2   2694 non-null   object
 50  ESTRNJ1  2694 non-null   object
 51  HCPADVI  2694 non-null   object
 52  LANGSAA  2615 non-null   object
 53  SMOKERE  2615 non-null   object
 54  E2AVE    2341 non-null   object
 55  AGE      2702 non-null   object
 56  ESTROG1  2694 non-null   object
 57  NOREASO  2694 non-null   object
 58  YOUNGLK  2694 non-null   object
 59  BONES1   2694 non-null   object
 60  ALCHL24  2330 non-null   object
 61  SOCIAL   2615 non-null   object
dtypes: int64(1), object(61)
memory usage: 1.3+ MB
------------------------------------
Visit 4 information:


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2679 entries, 0 to 2678
Data columns (total 62 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DIABETE  2658 non-null   object
 1   CANCERS  2658 non-null   object
 2   EXPENSI  2658 non-null   object
 3   RACE     2679 non-null   int64
 4   LIKEFEL  2658 non-null   object
 5   EXERCIS  0 non-null      object
 6   LANGINT  2658 non-null   object
 7   SIDEEFF  2658 non-null   object
 8   VAGINDR  2566 non-null   object
 9   EMOCTDW  0 non-null      object
 10  HORMOTH  2658 non-null   object
 11  PHYSILL  2566 non-null   object
 12  NOREMEB  2658 non-null   object
 13  DONTKNO  2658 non-null   object
 14  REDUHAR  2658 non-null   object
 15  REGPERI  2658 non-null   object
 16  FRNADVI  2658 non-null   object
 17  NOLIKE   2658 non-null   object
 18  HOTFLAS  2566 non-null   object
 19  IMPRMEM  2658 non-null   object
 20  OSTEOPR  2658 non-null   object
 21  MENOSYM  2658 non-null   object
 22  ESTRDA2  2658 non-null   object
 23  HOURSPA  2658 non-null   object
 24  OUTCOME  2658 non-null   object
 25  OSTEOPO  2658 non-null   object
 26  STATUS   2658 non-null   object
 27  ESTRNJ2  2658 non-null   object
 28  COMBIN1  2658 non-null   object
 29  DNTKNOW  2658 non-null   object
 30  BONES3   2658 non-null   object
 31  ADVISTO  2658 non-null   object
 32  CANCER   2658 non-null   object
 33  ESTRDA1  2658 non-null   object
 34  WEIGHT   2489 non-null   object
 35  PRGNANT  2658 non-null   object
 36  PRBBLEE  2658 non-null   object
 37  HEIGHT   2459 non-null   object
 38  ESTROG2  2658 non-null   object
 39  STOPOTH  2658 non-null   object
 40  DIETNUT  0 non-null      object
 41  HAVEPER  2658 non-null   object
 42  EMOCARE  0 non-null      object
 43  MENODEP  2566 non-null   object
 44  COMBIN2  2658 non-null   object
 45  BROKEBO  2658 non-null   object
 46  HAPPY    2658 non-null   object
 47  AVCIGDA  2566 non-null   object
 48  TRBLSLE  2566 non-null   object
 49  BONES2   2658 non-null   object
 50  ESTRNJ1  2658 non-null   object
 51  HCPADVI  2658 non-null   object
 52  LANGSAA  2566 non-null   object
 53  SMOKERE  2566 non-null   object
 54  E2AVE    2265 non-null   object
 55  AGE      2671 non-null   object
 56  ESTROG1  2658 non-null   object
 57  NOREASO  2658 non-null   object
 58  YOUNGLK  2658 non-null   object
 59  BONES1   2658 non-null   object
 60  ALCHL24  2282 non-null   object
 61  SOCIAL   0 non-null      object
dtypes: int64(1), object(61)
memory usage: 1.3+ MB
------------------------------------
Visit 5 information:


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2617 entries, 0 to 2616
Data columns (total 62 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DIABETE  2604 non-null   object
 1   CANCERS  2604 non-null   object
 2   EXPENSI  2604 non-null   object
 3   RACE     2617 non-null   int64
 4   LIKEFEL  2604 non-null   object
 5   EXERCIS  0 non-null      object
 6   LANGINT  2604 non-null   object
 7   SIDEEFF  2604 non-null   object
 8   VAGINDR  2496 non-null   object
 9   EMOCTDW  0 non-null      object
 10  HORMOTH  2604 non-null   object
 11  PHYSILL  2496 non-null   object
 12  NOREMEB  2604 non-null   object
 13  DONTKNO  2604 non-null   object
 14  REDUHAR  2604 non-null   object
 15  REGPERI  2604 non-null   object
 16  FRNADVI  2604 non-null   object
 17  NOLIKE   2604 non-null   object
 18  HOTFLAS  2496 non-null   object
 19  IMPRMEM  2604 non-null   object
 20  OSTEOPR  2604 non-null   object
 21  MENOSYM  2604 non-null   object
 22  ESTRDA2  2604 non-null   object
 23  HOURSPA  2604 non-null   object
 24  OUTCOME  2604 non-null   object
 25  OSTEOPO  2604 non-null   object
 26  STATUS   2603 non-null   object
 27  ESTRNJ2  2604 non-null   object
 28  COMBIN1  2604 non-null   object
 29  DNTKNOW  2604 non-null   object
 30  BONES3   2604 non-null   object
 31  ADVISTO  2604 non-null   object
 32  CANCER   2604 non-null   object
 33  ESTRDA1  2604 non-null   object
 34  WEIGHT   2398 non-null   object
 35  PRGNANT  2604 non-null   object
 36  PRBBLEE  2604 non-null   object
 37  HEIGHT   2292 non-null   object
 38  ESTROG2  2604 non-null   object
 39  STOPOTH  2604 non-null   object
 40  DIETNUT  0 non-null      object
 41  HAVEPER  2604 non-null   object
 42  EMOCARE  0 non-null      object
 43  MENODEP  0 non-null      object
 44  COMBIN2  2604 non-null   object
 45  BROKEBO  2604 non-null   object
 46  HAPPY    2604 non-null   object
 47  AVCIGDA  2496 non-null   object
 48  TRBLSLE  2496 non-null   object
 49  BONES2   2604 non-null   object
 50  ESTRNJ1  2604 non-null   object
 51  HCPADVI  2604 non-null   object
 52  LANGSAA  2496 non-null   object
 53  SMOKERE  2496 non-null   object
 54  E2AVE    2097 non-null   object
 55  AGE      2617 non-null   int64
 56  ESTROG1  2604 non-null   object
 57  NOREASO  2604 non-null   object
 58  YOUNGLK  2604 non-null   object
 59  BONES1   2604 non-null   object
 60  ALCHL24  2163 non-null   object
 61  SOCIAL   0 non-null      object
dtypes: int64(2), object(60)
memory usage: 1.2+ MB
------------------------------------
Visit 6 information:


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Data columns (total 62 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DIABETE  2441 non-null   object
 1   CANCERS  2441 non-null   object
 2   EXPENSI  2441 non-null   object
 3   RACE     2448 non-null   int64
 4   LIKEFEL  2441 non-null   object
 5   EXERCIS  2172 non-null   object
 6   LANGINT  2441 non-null   object
 7   SIDEEFF  2441 non-null   object
 8   VAGINDR  2332 non-null   object
 9   EMOCTDW  2201 non-null   object
 10  HORMOTH  2441 non-null   object
 11  PHYSILL  2332 non-null   object
 12  NOREMEB  2441 non-null   object
 13  DONTKNO  2441 non-null   object
 14  REDUHAR  2441 non-null   object
 15  REGPERI  2441 non-null   object
 16  FRNADVI  2441 non-null   object
 17  NOLIKE   2441 non-null   object
 18  HOTFLAS  2332 non-null   object
 19  IMPRMEM  2441 non-null   object
 20  OSTEOPR  2441 non-null   object
 21  MENOSYM  2441 non-null   object
 22  ESTRDA2  2441 non-null   object
 23  HOURSPA  2441 non-null   object
 24  OUTCOME  2441 non-null   object
 25  OSTEOPO  2441 non-null   object
 26  STATUS   2441 non-null   object
 27  ESTRNJ2  2441 non-null   object
 28  COMBIN1  2441 non-null   object
 29  DNTKNOW  2441 non-null   object
 30  BONES3   2441 non-null   object
 31  ADVISTO  2441 non-null   object
 32  CANCER   2441 non-null   object
 33  ESTRDA1  2441 non-null   object
 34  WEIGHT   2295 non-null   object
 35  PRGNANT  2441 non-null   object
 36  PRBBLEE  2441 non-null   object
 37  HEIGHT   2150 non-null   object
 38  ESTROG2  2441 non-null   object
 39  STOPOTH  2441 non-null   object
 40  DIETNUT  2172 non-null   object
 41  HAVEPER  2441 non-null   object
 42  EMOCARE  2201 non-null   object
 43  MENODEP  0 non-null      object
 44  COMBIN2  2441 non-null   object
 45  BROKEBO  2441 non-null   object
 46  HAPPY    2441 non-null   object
 47  AVCIGDA  2332 non-null   object
 48  TRBLSLE  2332 non-null   object
 49  BONES2   2441 non-null   object
 50  ESTRNJ1  2441 non-null   object
 51  HCPADVI  2441 non-null   object
 52  LANGSAA  2332 non-null   object
 53  SMOKERE  2332 non-null   object
 54  E2AVE    2054 non-null   object
 55  AGE      2447 non-null   object
 56  ESTROG1  2441 non-null   object
 57  NOREASO  2441 non-null   object
 58  YOUNGLK  2441 non-null   object
 59  BONES1   2441 non-null   object
 60  ALCHL24  2067 non-null   object
 61  SOCIAL   2201 non-null   object
dtypes: int64(1), object(61)
memory usage: 1.2+ MB
------------------------------------
Visit 7 information:


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2413 entries, 0 to 2412
Data columns (total 62 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DIABETE  2406 non-null   object
 1   CANCERS  2406 non-null   object
 2   EXPENSI  2288 non-null   object
 3   RACE     2413 non-null   int64
 4   LIKEFEL  2288 non-null   object
 5   EXERCIS  2288 non-null   object
 6   LANGINT  2406 non-null   object
 7   SIDEEFF  2288 non-null   object
 8   VAGINDR  2380 non-null   object
 9   EMOCTDW  0 non-null      object
 10  HORMOTH  2288 non-null   object
 11  PHYSILL  2380 non-null   object
 12  NOREMEB  2288 non-null   object
 13  DONTKNO  2288 non-null   object
 14  REDUHAR  2288 non-null   object
 15  REGPERI  2288 non-null   object
 16  FRNADVI  2288 non-null   object
 17  NOLIKE   2288 non-null   object
 18  HOTFLAS  2380 non-null   object
 19  IMPRMEM  2288 non-null   object
 20  OSTEOPR  2406 non-null   object
 21  MENOSYM  2288 non-null   object
 22  ESTRDA2  2406 non-null   object
 23  HOURSPA  2267 non-null   object
 24  OUTCOME  2288 non-null   object
 25  OSTEOPO  2288 non-null   object
 26  STATUS   2406 non-null   object
 27  ESTRNJ2  2406 non-null   object
 28  COMBIN1  2406 non-null   object
 29  DNTKNOW  2288 non-null   object
 30  BONES3   65 non-null     object
 31  ADVISTO  2288 non-null   object
 32  CANCER   2288 non-null   object
 33  ESTRDA1  2406 non-null   object
 34  WEIGHT   2233 non-null   object
 35  PRGNANT  2288 non-null   object
 36  PRBBLEE  2288 non-null   object
 37  HEIGHT   2126 non-null   object
 38  ESTROG2  2406 non-null   object
 39  STOPOTH  2288 non-null   object
 40  DIETNUT  2288 non-null   object
 41  HAVEPER  2288 non-null   object
 42  EMOCARE  0 non-null      object
 43  MENODEP  0 non-null      object
 44  COMBIN2  2406 non-null   object
 45  BROKEBO  2406 non-null   object
 46  HAPPY    2267 non-null   object
 47  AVCIGDA  2380 non-null   object
 48  TRBLSLE  2380 non-null   object
 49  BONES2   65 non-null     object
 50  ESTRNJ1  2406 non-null   object
 51  HCPADVI  2288 non-null   object
 52  LANGSAA  2380 non-null   object
 53  SMOKERE  2380 non-null   object
 54  E2AVE    2047 non-null   object
 55  AGE      2411 non-null   object
 56  ESTROG1  2406 non-null   object
 57  NOREASO  2288 non-null   object
 58  YOUNGLK  2288 non-null   object
 59  BONES1   65 non-null     object
 60  ALCHL24  2057 non-null   object
 61  SOCIAL   0 non-null      object
dtypes: int64(1), object(61)
memory usage: 1.1+ MB
------------------------------------
Visit 8 information:


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278 entries, 0 to 2277
Data columns (total 62 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DIABETE  2274 non-null   object
 1   CANCERS  2274 non-null   object
 2   EXPENSI  2176 non-null   object
 3   RACE     2278 non-null   int64
 4   LIKEFEL  2176 non-null   object
 5   EXERCIS  1593 non-null   object
 6   LANGINT  2274 non-null   object
 7   SIDEEFF  2176 non-null   object
 8   VAGINDR  2244 non-null   object
 9   EMOCTDW  2244 non-null   object
 10  HORMOTH  2176 non-null   object
 11  PHYSILL  2244 non-null   object
 12  NOREMEB  2176 non-null   object
 13  DONTKNO  1593 non-null   object
 14  REDUHAR  2176 non-null   object
 15  REGPERI  2176 non-null   object
 16  FRNADVI  2176 non-null   object
 17  NOLIKE   2176 non-null   object
 18  HOTFLAS  2244 non-null   object
 19  IMPRMEM  2176 non-null   object
 20  OSTEOPR  2274 non-null   object
 21  MENOSYM  2176 non-null   object
 22  ESTRDA2  1691 non-null   object
 23  HOURSPA  1558 non-null   object
 24  OUTCOME  1593 non-null   object
 25  OSTEOPO  2176 non-null   object
 26  STATUS   2268 non-null   object
 27  ESTRNJ2  2274 non-null   object
 28  COMBIN1  2274 non-null   object
 29  DNTKNOW  1593 non-null   object
 30  BONES3   45 non-null     object
 31  ADVISTO  2176 non-null   object
 32  CANCER   2176 non-null   object
 33  ESTRDA1  2274 non-null   object
 34  WEIGHT   2109 non-null   object
 35  PRGNANT  1593 non-null   object
 36  PRBBLEE  2176 non-null   object
 37  HEIGHT   1695 non-null   object
 38  ESTROG2  2274 non-null   object
 39  STOPOTH  2176 non-null   object
 40  DIETNUT  1593 non-null   object
 41  HAVEPER  2176 non-null   object
 42  EMOCARE  2244 non-null   object
 43  MENODEP  0 non-null      object
 44  COMBIN2  2274 non-null   object
 45  BROKEBO  2274 non-null   object

In [28]:
for df in visit_dfs:
    df.fillna(-9999, inplace=True)

In [29]:
visit_dfs[1][list(selected_shared_variables)].head()

,DIABETE,CANCERS,EXPENSI,RACE,LIKEFEL,EXERCIS,LANGINT,SIDEEFF,VAGINDR,EMOCTDW,...,LANGSAA,SMOKERE,E2AVE,AGE,ESTROG1,NOREASO,YOUNGLK,BONES1,ALCHL24,SOCIAL
0,1,1,-9999,2,-9999,-9999,1,-9999,1,1,...,1,1,33.1,54,2,-9999,1,-9999,1,5
1,1,1,-9999,4,-9999,-9999,1,-9999,1,1,...,1,1,45.05,53,1,-9999,-9999,-9999,2,5
2,1,1,-9999,1,-9999,-9999,1,-9999,2,2,...,1,1,17.9,50,1,-9999,-9999,-9999,1,4
3,1,1,-9999,3,-9999,-9999,1,-9999,1,1,...,1,1,28.25,53,1,-9999,-9999,-9999,1,5
4,1,1,-9999,2,-9999,-9999,1,-9999,1,1,...,1,1,57.1,48,1,-9999,-9999,-9999,1,5

In [30]:
# For time columns, empty values are coded ad '.'. Replace them with ''

for df in visit_dfs:
    df.replace('.', '', inplace=True)

visit_dfs[1][list(selected_shared_variables)].head()

,DIABETE,CANCERS,EXPENSI,RACE,LIKEFEL,EXERCIS,LANGINT,SIDEEFF,VAGINDR,EMOCTDW,...,LANGSAA,SMOKERE,E2AVE,AGE,ESTROG1,NOREASO,YOUNGLK,BONES1,ALCHL24,SOCIAL
0,1,1,-9999,2,-9999,-9999,1,-9999,1,1,...,1,1,33.1,54,2,-9999,1,-9999,1,5
1,1,1,-9999,4,-9999,-9999,1,-9999,1,1,...,1,1,45.05,53,1,-9999,-9999,-9999,2,5
2,1,1,-9999,1,-9999,-9999,1,-9999,2,2,...,1,1,17.9,50,1,-9999,-9999,-9999,1,4
3,1,1,-9999,3,-9999,-9999,1,-9999,1,1,...,1,1,28.25,53,1,-9999,-9999,-9999,1,5
4,1,1,-9999,2,-9999,-9999,1,-9999,1,1,...,1,1,57.1,48,1,-9999,-9999,-9999,1,5

### üîó Concatenating dataframes

In [31]:
# Concatenate all the dataframes together
full_df = pd.concat((df[list(selected_shared_variables)] for df in visit_dfs))

# Write it to a file
full_df.to_csv('./datasets/visit_dfs.csv', index=False)

# ‚ùå Removing columns with several missing values

In [32]:
# Check for each column how many -9999 values there are
# Make a dictionary with the column name and the number of -9999 values
missing_values = {}

for var in full_df.columns:
    missing_values[var] = len(full_df[full_df[var] == -9999])

# Sort the dictionary by the number of missing values
sorted_missing_values = {k: v for k, v in reversed(sorted(missing_values.items(), key=lambda item: item[1]))}

In [33]:
full_df.index

Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
       ...
       2235, 2236, 2237, 2238, 2239, 2240, 2241, 2242, 2243, 2244],
      dtype='int64', length=25487)

In [34]:
# Show the percentage of missing values for each column
missing_ratio = pd.Series({k: v/len(full_df.index) * 100 for k,v in sorted_missing_values.items()})
missing_ratio.name = 'null_ratio'
missing_ratio

MENODEP    80.962844
DIETNUT    59.822655
EXERCIS    59.822655
BONES3     47.086750
BONES2     47.067132
             ...
ESTRNJ1     0.470828
COMBIN1     0.470828
LANGINT     0.466905
AGE         0.160866
RACE        0.000000
Name: null_ratio, Length: 62, dtype: float64

In [37]:
# Read csv with variable names and descriptions, and join by variable ID
var_names = pd.read_csv('./lista_variables/variables.csv')
normalized_colnames = {var:var.removesuffix('9') if var[-1].isdigit() else var for var in var_names['id']}
var_names['id'] = var_names['id'].map(normalized_colnames)
var_names.set_index('id', inplace=True)
var_names

,nombre,desc
id,,
FORMPHY,Abbreviated or Full Physical Measures,Abbreviated or Full Physical Measures
FORMINT,"Abbreviated, mailed or regular interview",Which version of the interview was administered:
ABBLEED,Abnormal vaginal bleeding since last visit,"Since your last study visit, have you had any ..."
ACTIPAN,Active this week,Indicate in the space next to each item how st...
ACUPUNC,Acupuncture,"During the past 12 months, have you used any o..."
...,...,...
YOGASPE,Yoga - Other specify,If YES to YOGA9: Please tell me whether or not...
YOGAADV,Yoga - Provider advice,If YES to YOGA9: Please tell me whether or not...
YOGAPER,Yoga - Regulate Periods,If YES to YOGA9: Please tell me whether or not...
YOGAWGH,Yoga - Weight,If YES to YOGA9: Please tell me whether or not...
YOGALOO,Yoga - Young Looking,If YES to YOGA9: Please tell me whether or not...

In [38]:
ratio_comparison_df = pd.concat(
    [
        var_names['nombre'],
        missing_ratio
    ],
    axis=1,
    join='inner'
)

In [39]:
ratio_comparison_df.sort_values(by='null_ratio', ascending=False)

                                                    nombre  null_ratio
MENODEP                        During menopause, depressed   80.962844
EXERCIS                                           Exercise   59.822655
DIETNUT                                    Nutritious diet   59.822655
BONES3                                      Bone #3 broken   47.086750
BONES2                                      Bone #2 broken   47.067132
BONES1                                      Bone #1 broken   46.906266
OUTCOME                               Outcome of pregnancy   26.703810
ESTRNJ2                        Estrogen injection/patch #2   22.325107
COMBIN2                  Combination estrogen/progestin #2   21.901361
ESTROG2                                  Estrogen pills #2   21.493310
E2AVE                           Estradiol (average, pg/mL)   15.878683
ALCHL24                           Alcohol in Last 24 hours   15.576568
DNTKNOW                    Don't know why stopped hormones   15.172441
NOREASO                   Stopped hormones no reason given   15.172441
DONTKNO              Don't know/remember why take hormones   14.179778
ESTRDA2         Estrogen #2 prescription daily or off & on   13.603013
HOURSPA                   How many hours/week work for pay   13.469612
NOLIKE                  Do not like taking any medications   12.743752
EXPENSI                                      Too expensive   12.743752
CANCER                                Worried about cancer   12.743752
ADVISTO               Health care provider advised to stop   12.743752
SIDEEFF                Worried about possible side effects   12.743752
NOREMEB                     Couldn't remember to take them   12.743752
STOPOTH                      Stopped hormones other reason   12.743752
HAVEPER                        Did not like having periods   12.743752
LIKEFEL                      Did not like how felt on them   12.743752
PRBBLEE                             Problems with bleeding   12.739828
HORMOTH                    Take hormones for other reasons   11.739318
MENOSYM                        Relieve menopausal symptoms   11.735395
YOUNGLK                                 Stay young-looking   11.735395
REGPERI                                   Regulate periods   11.735395
HCPADVI                       Health care provider advised   11.735395
OSTEOPO                        Reduce risk of osteoporosis   11.735395
IMPRMEM                                     Improve memory   11.735395
REDUHAR                       Reduce risk of heart disease   11.735395
FRNADVI                            Friend/relative advised   11.735395
HEIGHT                                      Height (in cm)   10.829050
ESTRDA1         Estrogen #1 prescription daily or off & on   10.644642
WEIGHT                                      Weight (in kg)    6.493506
HAPPY                                      Happy past week    6.081532
PRGNANT                          Pregnant since last visit    4.861302
VAGINDR                       Vaginal dryness past 2 weeks    2.668027
SMOKERE                  Smoked regularly since last visit    2.664103
HOTFLAS                           Hot flashes past 2 weeks    2.664103
PHYSILL  Serious illness family upsetting since last visit    2.664103
AVCIGDA            Average cigarettes/day since last visit    2.660180
LANGSAA                                 Language of Self-A    2.660180
TRBLSLE                Trouble falling asleep past 2 weeks    2.660180
CANCERS                            Cancer since last visit    0.541453
DIABETE                          Diabetes since last visit    0.537529
BROKEBO  Number events where bone(s) broken since last ...    0.537529
OSTEOPR                      Osteoporosis since last visit    0.537529
STATUS                                   Menopausal Status    0.537529
ESTROG1                                  Estrogen pills #1    0.478675
ESTRNJ1                        Estrogen injection/patch #1    0.470828
COMBIN1                  Combination estrogen/progestin #1    0.470828
LANGINT                              Language of Interview    0.466905
AGE                         Age At Current Visit (Integer)    0.160866
RACE                                        Race/Ethnicity    0.000000

### Check here the columns to preserve

| id      | name                                        | null_ratio | preserved |
|---------|---------------------------------------------|------------|-----------|
| MENODEP | During menopause, depressed                 | 80.962844  | ‚úÖ        |
| EXERCIS | Exercise                                    | 59.822655  | ‚úÖ        |
| DIETNUT | Nutritious diet                             | 59.822655  | ‚úÖ        |
| BONES3  | Bone #3 broken                              | 47.086750  | ‚ùå        |
| BONES2  | Bone #2 broken                              | 47.067132  | ‚ùå        |
| BONES1  | Bone #1 broken                              | 46.906266  | ‚ùå        |
| OUTCOME | Outcome of pregnancy                        | 26.703810  | ‚úÖ        |
| ESTRNJ2 | Estrogen injection/patch #2                | 22.325107  | ‚úÖ        |
| COMBIN2 | Combination estrogen/progestin #2          | 21.901361  | ‚úÖ        |
| ESTROG2 | Estrogen pills #2                          | 21.493310  | ‚úÖ        |
| E2AVE   | Estradiol (average, pg/mL)                 | 15.878683  | ‚úÖ        |
| ALCHL24 | Alcohol in Last 24 hours                   | 15.576568  | ‚úÖ        |
| DNTKNOW | Don't know why stopped hormones            | 15.172441  | ‚ùå        |
| NOREASO | Stopped hormones no reason given           | 15.172441  | ‚ùå        |
| DONTKNO | Don't know/remember why take hormones      | 14.179778  | ‚ùå        |
| ESTRDA2 | Estrogen #2 prescription daily or off & on | 13.603013  | ‚úÖ        |
| HOURSPA | How many hours/week work for pay           | 13.469612  | ‚úÖ        |
| NOLIKE  | Do not like taking any medications         | 12.743752  | ‚ùå        |
| EXPENSI | Too expensive                              | 12.743752  | ‚ùå        |
| CANCER  | Worried about cancer                       | 12.743752  | ‚ùå        |
| ADVISTO | Health care provider advised to stop       | 12.743752  | ‚ùå        |
| SIDEEFF | Worried about possible side effects        | 12.743752  | ‚ùå        |
| NOREMEB | Couldn't remember to take them             | 12.743752  | ‚ùå        |
| STOPOTH | Stopped hormones other reason              | 12.743752  | ‚ùå        |
| HAVEPER | Did not like having periods                | 12.743752  | ‚ùå        |
| LIKEFEL | Did not like how felt on them              | 12.743752  | ‚ùå        |
| PRBBLEE | Problems with bleeding                     | 12.739828  | ‚ùå        |
| HORMOTH | Take hormones for other reasons            | 11.739318  | ‚ùå        |
| MENOSYM | Relieve menopausal symptoms                | 11.735395  | ‚ùå        |
| YOUNGLK | Stay young-looking                         | 11.735395  | ‚ùå        |
| REGPERI | Regulate periods                           | 11.735395  | ‚ùå        |
| HCPADVI | Health care provider advised               | 11.735395  | ‚ùå        |
| OSTEOPR | Reduce risk of osteoporosis                | 11.735395  | ‚ùå        |
| IMPRMEM | Improve memory                             | 11.735395  | ‚ùå        |
| REDUHAR | Reduce risk of heart disease               | 11.735395  | ‚ùå        |
| FRNADVI | Friend/relative advised                    | 11.735395  | ‚ùå        |
| HEIGHT  | Height (in cm)                             | 10.829050  | ‚úÖ        |
| ESTRDA1 | Estrogen #1 prescription daily or off & on | 10.644642  | ‚úÖ        |
| WEIGHT  | Weight (in kg)                             | 6.493506   | ‚úÖ        |
| HAPPY   | Happy past week                            | 6.081532   | ‚úÖ        |
| PRGNANT | Pregnant since last visit                  | 4.861302   | ‚úÖ        |
| VAGINDR | Vaginal dryness past 2 weeks               | 2.668027   | ‚úÖ        |
| SMOKERE | Smoked regularly since last visit          | 2.664103   | ‚úÖ        |
| HOTFLAS | Hot flashes past 2 weeks                   | 2.664103   | ‚úÖ        |
| PHYSILL | Serious illness family upsetting since last visit | 2.664103   | ‚úÖ        |
| AVCIGDA | Average cigarettes/day since last visit    | 2.660180   | ‚úÖ        |
| LANGSAA | Language of Self-A                         | 2.660180   | ‚ùå        |
| TRBLSLE | Trouble falling asleep past 2 weeks        | 2.660180   | ‚úÖ        |
| CANCERS | Cancer since last visit                    | 0.541453   | ‚úÖ        |
| DIABETE | Diabetes since last visit                  | 0.537529   | ‚úÖ        |
| BROKEBO | Number events where bone(s) broken since last visit | 0.537529   | ‚úÖ        |
| OSTEOPR | Osteoporosis since last visit              | 0.537529   | ‚úÖ        |
| STATUS  | Menopausal Status                          | 0.537529   | ‚úÖ        |
| ESTROG1 | Estrogen pills #1                          | 0.478675   | ‚úÖ        |
| ESTRNJ1 | Estrogen injection/patch #1                | 0.470828   | ‚úÖ        |
| COMBIN1 | Combination estrogen/progestin #1          | 0.470828   | ‚ùå        |
| LANGINT | Language of Interview                      | 0.466905   | ‚ùå        |
| AGE     | Age At Current Visit (Integer)             | 0.160866   | ‚úÖ        |
| RACE    | Race/Ethnicity                             | 0.000000   | ‚úÖ        |

> During the process of manual selection of variables, we have found that the following variables are not present in all the visits (or, perhaps, were not detected given by the prompt asked to the LLM used to filter variables), but do appear in most of them, and are relevant to the study:

- **STATUS:** menopause status.
- **WEIGHT:** weight in kg.
- **HEIGHT:** height in cm.
- **EXERCIS:** exercise or not in past 12 months.
- **DIETNUT:** if diet carried out is considered healthy.
- **EMOCTDW:** emotional cutdown due to menopause symptoms.
- **EMOCARE:** how careful you've been given how symptoms make you feel.
- **SOCIAL:** how much menopause symptoms have affected social life.
- **CANCERS:** has had or not cancer since last visit and which type.
- **TRBLSLE:** trouble falling asleep past 2 weeks.
- **HAPPY:** happy with life last week.
- **SMOKERE:** regular smoker.
- **MENODEP:** depression status due to menopause symptoms.

> ... therefore the notebook will be rerun with these variables included in the final dataframe.